$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

.background {
  background: #edf1f3;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  &__top {
    position: absolute;
    background: linear-gradient(90deg, #93dcff 0%, #64a2f1 72.12%, #a98df1 100%),
      #ffffff;
    width: 100%;
    height: 17em;
    z-index: -1;
    padding: 0;
  }
}
.container {
  padding: 0 15px;
  font-size: 17px;
  header {
    font-size: 32px;
    padding: 30px 0;
    color: #ffffff;
  }
  @include sm {
    padding: 0 20px;
  }
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
  @include rwd(1400) {
    margin-bottom: 20px;
  }
}
