.table__container {
  background-color: #fff;
  padding: 0 1em 1em 1em;
  border-radius: 0.3em;
}

.table__price {
  margin-left: 10px;
}

.spin {
  text-align: center;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header {
  overflow: hidden;
}

.ant-table-scroll::-webkit-scrollbar {
  width: 10px;
}
